*~
\#*
.\#*
*.o
*.so
.pass
Snapshot
TimeStamps
.svn
/.git
/test/
/deep-connect
/lib/fiber-mon.rb
/lib/deep-connect.rb
/lib/deep-connect
/lib/depq.rb
/sample/wc/data
/TAGS

# simple-hash
/ext/simple_hash/Makefile

